<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <h1 class="display-3 mb-3 animated slideInDown text-primary">購物車</h1>
        @*        <nav aria-label="breadcrumb animated slideInDown">
        <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a class="text-body" href="#">首頁</a></li>
        <li class="breadcrumb-item"><a class="text-body" href="#">甜嘴page</a></li>
        </ol>
        </nav>*@
    </div>
</div>
<!-- Page Header End -->
<!-- 內容 Start -->
<div class="container" id="appVue">
    <div class="row w-100">
        <!-- left -->
        <!-- 購買商品清單 Start -->
        <div class="col-md-8 col-sm-12">
            <h1 class="display-5 text-primary section-header text-center">選購商品</h1>
            <!-- 商品start -->
            <div class="my-4 momo-cart-border" v-for="(pro,key) in productArray" :key="key">
                <div class="px-1 my-5">
                    <div class="row align-items-center col-12">
                        <!-- <input type="checkbox" name="check" id="{{productID}}" class="col-1" /> -->
                        <div class="col-3 ms-3">
                            <a :href="baseUrl +'?productID='+pro.productId">
                                <img :src=`/img/${pro.imageName}` :alt="pro.productName"
                                     :title=`${pro.productName}-${ImgArray[key]}`
                                     class="col-12" />
                            </a>
                        </div>
                        <div class="col-3 ms-1">
                            <a :href="baseUrl +'?productID='+pro.productId">
                                <label for=`${pro.productId}` class="col-12 ms-2">
                                    {{pro.productName}} <br />
                                    {{pro.flavor}}{{pro.size}}
                                </label>
                            </a>
                        </div>

                        <label class="col-2 text-secondary  momo-cart-name">
                            $ {{pro.amount*pro.price}}
                        </label>
                        <div class="col-2">
                            <label for="" class="text-center  ">數量</label>
                            <input type="number" name="" :id="pro.productId+'Input'" min="1" max="20" :value=pro.amount v-on:change="amountChange(pro.productId,pro.size,$event)" class="" />
                        </div>
                        <div class="col-1">
                            <button class="mx-3 rounded-pill btn-outline-danger momo-cart-name" @@click="Mydelete(pro.productId,pro.size)">X</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 商品end -->
            <!-- 購買商品清單 End -->
        </div>
        <!-- right -->
        <div class="col-md-4 col-sm-12">
            <h1 class="display-5 text-primary section-header text-center">訂單資訊</h1>
            <!-- 從會員資料拉 start -->
            <div class="col-12">
                <form action="">
                    <fieldset>
                        <legend class="text-t4">訂購人資訊</legend>
                        <div>
                            <label for="">訂購人</label>
                            <label for="">{{memberName}}</label>
                        </div>
                        <div>
                            <label for="">會員電話</label>
                            <label for="">{{memberPhone}}</label>
                        </div>
                        @*<div>
                        <label for="">地址</label>
                        <label for="">{{memberAddress}}</label>
                        </div>*@
                    </fieldset>
                </form>
            </div>
            <!-- 從會員資料拉 end -->
            <!-- 金額與付款 start -->
            <div class="col-12 my-3">
                <form action="">
                    <fieldset>
                        <legend class=" text-t4">商品資訊</legend>
                        <div>
                            <label for="discount" class="">折扣代碼</label>
                            <div class="text-secondary">{{discount_info}}</div>
                            <input type="text" name="" id="discount" placeholder="請輸入折扣代碼" class="" v-model="coupon" />
                            <button class="btn btn-primary momo-addCartBTN" @@click="useDiscount ">使用</button>
                            @*  class我寫好了給我留著PLZ  *@
                            @*discount_info幫我寫"已打8折"、"運費以免"*@
                        </div>
                        <div>
                            <label for="">訂單總價</label><br />
                            <span class="text-primary display-6">{{totalPrice}}</span>
                            @*  class我寫好了給我留著PLZ  *@
                            @*<span class="text-secondary">{{totalPrice}}</span>*@
                        </div>
                        <div>
                            <!-- 付款 -->
                            @*<button class="btn btn-primary momo-addCartBTN" @@click="orderDessert">送出訂單</button>*@
                            <input type="button" class="btn btn-primary momo-addCartBTN" value="送出訂單" @@click="orderDessert" />
                        </div>
                        <!-- <div>
                            <label for="">備註</label>
                            <textarea placeholder="如有其他需求，請於此註明"></textarea>
                        </div> -->
                    </fieldset>
                </form>
            </div>
            <!-- 金額與付款 end -->
        </div>
    </div>
</div>
<!-- 內容 End -->
@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/js/cart.js"></script>
    }