:root {
  --bs-primary: $tcolor2;
  --bs-secondary: #f65005;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f7f8fc;
  --bs-dark: $tcolor5;
}

.text-primary {
  color: #FFA83E !important;
}

.text-body {
  color: #F38B0B !important;
}

.text-t3 {
  color: #F38B0B;
}

.text-t4 {
  color: #C77613;
}

.text-t6 {
  color: #3F2300;
}

.text-dark {
  color: #1E1100;
}

.text-p2 {
  color: #FF8E6A;
}

.text-secondary {
  color: #FF6C3E !important;
  font-family: monospace;
}

.text-p5 {
  color: #631800;
}

.text-o3 {
  color: #C79713;
}

.btn-primary {
  color: #C77613;
  background-color: #F38B0B;
  border-color: #F38B0B;
}
.btn-primary:hover {
  color: #FFFACA;
  background-color: #FF6C3E;
  border-color: #FF6C3E;
}

.btn-check:focus + .btn-primary,
.btn-primary:focus {
  color: #633700;
  background-color: #F38B0B;
  border-color: #C79713;
  box-shadow: 0 0 0 0.25rem #C77613;
}

.btn-check:checked + .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
  color: #633700;
  background-color: #F38B0B;
  border-color: #C79713;
}

.btn-check:checked + .btn-check:focus, .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem #C77613;
}
.btn-check:checked + .btn-check:focus:disabled, .btn-check:checked + .btn-check:focus .btn-primary.disabled, .btn-check:active + .btn-primary:focus:disabled, .btn-check:active + .btn-primary:focus .btn-primary.disabled, .btn-primary:active:focus:disabled, .btn-primary:active:focus .btn-primary.disabled, .btn-primary.active:focus:disabled, .btn-primary.active:focus .btn-primary.disabled, .show > .btn-primary.dropdown-toggle:focus:disabled, .show > .btn-primary.dropdown-toggle:focus .btn-primary.disabled {
  color: #633700;
  background-color: #F38B0B;
  border-color: #F38B0B;
}

.btn-outline-primary {
  color: #F38B0B !important;
  border-color: #C77613 !important;
}

.btn-outline-primary:hover {
  color: #FFFACA;
  background-color: #FFCC3E;
  border-color: #F38B0B;
}

.btn-check:focus + .btn-outline-primary, .btn-outline-primary:focus {
  box-shadow: 0 0 0 0.25rem #FFFACA;
}

.btn-check:checked + .btn-outline-primary, .btn-check:active + .btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show {
  color: #C77613;
  background-color: #FFD8A8;
  border-color: #F38B0B;
}

.btn-check:checked + .btn-outline-primary:focus, .btn-check:active + .btn-outline-primary:focus, .btn-outline-primary:active:focus, .btn-outline-primary.active:focus, .btn-outline-primary.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0rem #FFFACA;
}

.btn-outline-primary:disabled, .btn-outline-primary.disabled {
  color: #FFBDA8;
  background-color: transparent;
}

.btn-check:focus + .btn-primary,
.btn-primary:focus {
  background-color: #F38B0B;
  border-color: #FFD76A;
  box-shadow: 0 0 0 0.25rem #FFA83E;
}

.momo-off-shelve {
  border: none;
}
.momo-off-shelve:hover {
  transform: scale(1.2);
  transition-duration: 0.4s;
}

.form-control:focus {
  color: #1e1100;
  border-color: rgba(243, 139, 11, 0.5);
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(199, 118, 19, 0.3);
}

.border-primary {
  border-color: #FFA83E !important;
}

.momo-logoname {
  text-shadow: #633700 1px 0 3px;
}

.momo-slogan {
  text-shadow: #C73F13 1px 0 2px;
}

.momo-product-amount:focus {
  outline-color: #FFA83E;
}

.momo-btn-edit:hover {
  background-color: #FFBDA8;
  color: #631800;
}
.momo-btn-edit .news:hover {
  color: #C77613 !important;
}

.momo-cart-border {
  border: 1px solid black;
}

.dropdown-item:hover {
  background-color: #FFD8A8;
}
.dropdown-item:focus {
  background-color: #FF6C3E;
}

.carousel_img {
  weight: 1920px;
  height: 1080px;
}

.accordion-button:not(.collapsed) {
  color: black;
  background-color: #FFFACA;
  box-shadow: inset 0 -1px 0 #FFBDA8;
}

.accordion-button:focus {
  z-index: 3;
  border-color: black;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #FFBDA8;
}

.news:hover {
  color: #F38B0B;
}

a {
  color: #F38B0B;
  text-decoration: none;
}
a:hover {
  color: #C73F13;
  text-decoration: none;
}

.anchor-tag {
  color: #F38B0B;
  text-decoration: none;
}
.anchor-tag:hover {
  color: #C73F13;
  text-decoration: none;
}

.bg-primary {
  color: #FF6C3E;
  text-decoration: none;
}

.momo-login-div-top {
  border-radius: 1rem 1rem 0 0;
}

.momo-border-radius {
  border-radius: 1rem 1rem;
}

.bg-t2 {
  background-color: #FFA83E !important;
}

.bg-t3 {
  background-color: #F38B0B !important;
}

.momo-card {
  border: 1px solid #FFF;
}

.momo-card-header {
  background-color: #F38B0B;
  border-radius: 1rem 1rem 0 0 !important;
  color: #FFFACA;
}

.momo-card-body {
  background-color: #FFD8A8;
}

.momo-member-list-edit {
  background-color: #FFBDA8;
  color: #631800;
}
.momo-member-list-edit:focus {
  background-color: #F38B0B;
  color: #FFD8A8;
  cursor: pointer;
}

.momo-pd-size {
  width: 5rem;
  padding: 0.3rem 0rem;
  margin: 2rem 1rem 1rem 1rem;
  border: 1px solid #C73F13;
  border-radius: 0.6rem;
  color: #FF6C3E;
  text-align: center;
  cursor: pointer;
}
.momo-pd-size:hover {
  cursor: pointer;
  background-color: #C73F13;
  color: #FFFACA;
  box-shadow: 0 0 0 0.05rem #C73F13;
}

.momo-pd-size-active {
  background-color: #C73F13;
  color: #FFFACA;
  box-shadow: 0 0 0 0.05rem #C73F13;
}

.momo-pd-tag {
  border: solid #FF6C3E 2px;
}

.btn:focus, .btn:active {
  box-shadow: 0 0 0 0.05rem #C73F13;
  cursor: pointer;
  background-color: #C73F13;
  color: #FFFACA;
}

.momo-navbar {
  padding: auto 1rem;
}
.momo-navbar .nav-item:hover {
  background-color: #FFD8A8;
}

.momo-w90 {
  width: 90px;
}

.momo-cate-btn {
  border-radius: 1rem;
}

.momo-pd-img {
  max-width: 300px;
}

.momo-menu-img {
  height: 340px;
}

.momo-blog-img {
  width: 800px;
}

.fa-edit {
  cursor: pointer;
  color: #FFA83E;
}
.fa-edit:hover {
  color: #631800;
}

.momo-menu-btn {
  cursor: pointer;
}

.momo-addCartBTN {
  border-radius: 1rem;
  margin: 30px 0;
}

.btn-danger, .btn-danger:focus {
  color: #fff;
  background-color: #C73F13;
  border-color: #FFBDA8;
  box-shadow: 0 0 0 0.25rem rgba(225, 83, 97, 0.5);
}

.accordion-button {
  font-size: 2rem;
}

.momo-cart-name {
  font-size: 1.4em;
}

.btn-close:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(199, 118, 19, 0.3);
  opacity: 1;
}/*# sourceMappingURL=momoStyle.css.map */