@section Styles
    {
    <script src="https://cdn.ckeditor.com/ckeditor5/35.4.0/classic/ckeditor.js"></script>
    @* <style>
.ck-editor__editable[role="textbox"] {
/* editing area */
min-height: 400px;
}
</style> *@
}
<div class="container-fluid page-header mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <h1 class="display-3 mb-3 animated slideInDown text-primary">甜嘴Blog</h1>
    </div>
</div>

<div class="container mb-5" id="appVue">
    <div class="card">
        <div class="card-header display-6 section-header text-center text-secondary my-2">
            甜嘴MoBlog
        </div>
        <div class="card-body">
            <div class="card-title">
                <h4 class=" text-secondary">發表文章</h4>
            </div>

            <div class="row mb-3">
                <div class="col-8">
                    <img :src=`/img/${selectedImg}` class="mb-3 img-fluid rounded momo-blog-img" alt="">
                </div>

                <div class="col-4 text-secondary">
                    <h6 class=" section-header text-start">商品心得</h6>
                    <select id="selectItem" v-model="selectedImg" class="form-select" @@change="getProId">
                        <option value="newPostblog.jpg">無</option>
                        <option v-for="(i,k) in ProductInfo" :key="k" :value="i.imageName" :id="i.productId+'Option'">
                            @* <span style="display: none;">{{k}}</span> *@
                            {{i.productName}} {{i.flavor}}
                        </option>
                    </select>
                </div>
            </div>

            @* <img src="~/img/newPostblog.jpg" class="mb-3 img-fluid rounded mx-auto d-block" alt=""> *@

            <div class="form-floating mb-3">
                <input type="text" id="inputTitle" class="form-control" placeholder="請輸入文章標題.." size="20"
                    v-model="Title" required>
                <label for="floatingInput">請輸入文章標題..</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" placeholder="次標題.." size="20" v-model="SubTitle" required>
                <label for="floatingInput">次標題..</label>
            </div>

            <div class="form-floating mb-3">
                <textarea name="" id="Postarea" cols="20" rows="10" class="form-control" placeholder="內容.."
                    style="resize: none;height: 40%;width: 100%;" v-model="article" required></textarea>
                <label for="floatingInput">內容..</label>
            </div>

            @* <div class="form-floating mb-3">
            <textarea name="" id="editor" cols="20" rows="10" class="form-control" placeholder="內容.."
            style="resize: none;height: 40%;width: 100%;" v-model="article" required></textarea>
            </div> *@

            <div class="d-grid my-5">
                <div class="btn-group d-flex">
                    <button type="reset" class="btn btn-warning btn-block" @@click="Clear">清除表單</button>
                    <button id="" type="button" class="btn btn-primary btn-block" @@click="FillData">
                        一鍵生成資料
                    </button>
                    <button id="btnPost" type="button" class="btn btn-warning btn-block" @@click="PostNewBlog">
                        送出資料
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts
    {
    <script src="~/js/blogpostform.js"></script>
    @* <script>
ClassicEditor
.create(document.querySelector('#editor'))
.catch(error => {
console.error(error);
});
</script> *@
}