@section Styles
    {
    <style>
        .imgs {
            max-height: 100%;
            max-width: 100%;
        }

        .imgs:hover {
            transform: scale(1.2);
            transition-duration: 0.4s;
        }

        .item:hover {
            transform: scale(1.2);
            transition-duration: 0.4s;
        }
    </style>
}

<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <h1 class="display-3 mb-3 animated slideInDown text-primary">甜嘴MoBlog</h1>
    </div>
</div>
<!-- Page Header End -->


<!-- Blog Start -->
<div class="container-xxl py-5" id="appVue">
    <div class="container">
        <div class="row g-0 gx-5 align-items-end">
            <div class="col-lg-6">
                <div class="section-header text-start mb-5 wow fadeInUp" data-wow-delay="0.1s"
                    style="max-width: 500px;">
                    @* <h1 class="display-5 mb-3">標題</h1> *@

                    @* btn 發文鈕 *@
                    <a asp-controller="Home" asp-action="blogpostForm"
                        class="btn btn-primary rounded-pill py-sm-3 px-sm-5 mb-3">發表文章</a>
                </div>
            </div>

            <div class="col-lg-6 text-start text-lg-end wow slideInRight mb-3" data-wow-delay="0.1s">
                <ul class="nav nav-pills d-inline-flex justify-content-end mb-5">
                    @* 最新訊息按鈕 *@
                    <li class="nav-item me-2">
                        <a class="btn btn-outline-primary border-2 active momo-cate-btn" data-bs-toggle="pill"
                            href="#tab-1">當月討論</a>
                    </li>
                    @* 產品心得按鈕 *@
                    <li class="nav-item me-2">
                        <a class="btn btn-outline-primary border-2 momo-cate-btn" data-bs-toggle="pill"
                            href="#tab-2">心得分享</a>
                    </li>
                    @* 問題討論按鈕 *@
                    <li class="nav-item me-1">
                        <a class="btn btn-outline-primary border-2 momo-cate-btn" data-bs-toggle="pill"
                            href="#tab-3">綜合討論</a>
                    </li>
                    @* 搜尋按鈕 *@
                    <li class="nav-item me-0">
                        <a class="btn btn-outline-primary border-2 momo-cate-btn" data-bs-toggle="pill" href="#tab-4">
                            <i class="fa fa-search text-body"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="tab-content">
            @* 分頁 1 最新訊息*@
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s"
                    style="max-width: 500px">
                    <h1 class="display-5 mb-3 text-primary">當月討論</h1>
                </div>

                <div class="row g-4">

                    <div id="item" class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s"
                        v-for="item in NewsInfo">
                        <div class="position-relative overflow-hidden">
                            <a :href="baseUrl +'?id='+item.articleID">
                                <img class="img-fluid imgs" :src=`/img/${item.imageName}` alt="" />
                            </a>
                        </div>
                        <div class="bg-light p-4">
                            <a class="d-block h5 lh-base mb-4" :href="baseUrl +'?id='+item.articleID">{{item.title}}</a>
                            <div class="text-muted border-top pt-4">
                                <small class="me-3"><i
                                        class="fa fa-user text-primary me-2"></i>{{item.nickName}}</small>
                                <small class="me-3"><i
                                        class="fa fa-calendar text-primary me-2"></i>{{item.time}}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @* 分頁 2 產品心得*@
            <div id="tab-2" class="tab-pane fade show p-0">
                <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s"
                    style="max-width: 500px">
                    <h1 class="display-5 mb-3 text-primary">心得分享</h1>
                </div>

                <div class="row g-4">

                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s" v-for="item in ProInfo">
                        <div class="position-relative overflow-hidden">
                            <a :href="baseUrl +'?id='+item.articleID">
                                <img class="img-fluid imgs" :src=`/img/${item.productImageName}` alt="" />
                            </a>
                        </div>
                        <div class="bg-light p-4">
                            <a class="d-block h5 lh-base mb-4" :href="baseUrl +'?id='+item.articleID">{{item.title}}</a>
                            <div class="text-muted border-top pt-4">
                                <small class="me-3"><i
                                        class="fa fa-user text-primary me-2"></i>{{item.nickName}}</small>
                                <small class="me-3"><i
                                        class="fa fa-calendar text-primary me-2"></i>{{item.time}}</small>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            @* 分頁 3 問題討論*@
            <div id="tab-3" class="tab-pane fade show p-0">
                <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s"
                    style="max-width: 500px">
                    <h1 class="display-5 mb-3 text-primary">綜合討論</h1>
                </div>

                <div class="row g-4">

                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s" v-for="item in BlogInfo">
                        <div class="position-relative overflow-hidden">
                            <a :href="baseUrl +'?id='+item.articleID">
                                <img class="img-fluid imgs" :src=`/img/${item.imageName}` alt="" />
                            </a>
                        </div>
                        <div class="bg-light p-4">
                            <a class="d-block h5 lh-base mb-4" :href="baseUrl +'?id='+item.articleID">{{item.title}}</a>
                            <div class="text-muted border-top pt-4">
                                <small class="me-3"><i
                                        class="fa fa-user text-primary me-2"></i>{{item.nickName}}</small>
                                <small class="me-3"><i
                                        class="fa fa-calendar text-primary me-2"></i>{{item.time}}</small>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            @* 分頁 4 搜尋分頁*@
            <div id="tab-4" class="tab-pane fade show p-0">
                <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s"
                    style="max-width: 500px">
                    <h1 class="display-5 mb-3">文章搜尋</h1>
                </div>

                @* 搜尋 bar *@
                <div class="m-5">
                    <div class="input-group">
                        <input type="text" class="form-control" id="searchInput" v-model="keyWord"
                            placeholder="請輸入 *文章名稱* 或是 *發文者* " @@focus="pressEnter">
                        <button id="btnSearch" class="btn btn-outline-secondary" type="button"
                            @@click="Search">搜尋</button>
                    </div>
                </div>

                <h1 class="text-center" id="errMessage"></h1>

                <div class="row g-4">

                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s" v-for="item in SearchInfo">
                        <div class="position-relative overflow-hidden">
                            <a :href="baseUrl +'?id='+item.articleID">
                                <img class="img-fluid imgs" :src=`/img/${item.imageName}` alt="" />
                            </a>
                        </div>
                        <div class="bg-light p-4">
                            <a class="d-block h5 lh-base mb-4" :href="baseUrl +'?id='+item.articleID">{{item.title}}</a>
                            <div class="text-muted border-top pt-4">
                                <small class="me-3"><i
                                        class="fa fa-user text-primary me-2"></i>{{item.nickName}}</small>
                                <small class="me-3"><i
                                        class="fa fa-calendar text-primary me-2"></i>{{item.time}}</small>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Blog End -->

@section Scripts
    {
    <script src="~/js/Blog.js"></script>
}