@section Styles {
    <style>
        li {
            list-style-type: none;
        }
    </style>
}

<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <h1 class="display-3 mb-3 animated slideInDown text-primary">甜嘴MoBlog</h1>
    </div>
</div>
<!-- Page Header End -->
<!-- 最新消息文章內頁 Start -->
<div class="container mb-5" id="appVue">
    <h1 class="sixsch text-primary">{{articlePoster[0].title}}</h1> @*發文者title*@

    <div class="row">

        <div class="col-md-4">
            <small>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        @*發文者暱稱*@
                        <li class="breadcrumb-item"><i class="fas fa-user"></i>&nbsp; {{articlePoster[0].nickName}}</li>
                        <li class="breadcrumb-item">{{articlePoster[0].time}}</li>
                        @* <li class="breadcrumb-item"><i class="fas fa-tags pr-1"></i>&nbsp;event</li> *@
                    </ol>
                </nav>
            </small>
            <img :src=`/img/${articlePoster[0].imageName}` class="img-fluid momo-blog-img" alt="" />
        </div>

        <div class="col-md-8">
            <!-- Tags Start -->
            <h2 class="text-secondary text-end my-2">Tags</h2>
            <div class="text-end">

                <div class="form-check-inline">
                    <a id="tagLink" :href="baseUrl +'?productID='+articlePoster[0].productID" class="">
                        <i class="fas fa-tags pr-1 me-1"></i>{{articlePoster[0].tag}}
                    </a>
                </div>
            </div>

            <div>
                <h2 class=" section-header text-center my-2"></h2>
                <h2 class="text-secondary">{{articlePoster[0].subTitle}}</h2>
                <p>
                    {{articlePoster[0].article}}
                </p>
            </div>

            <!-- 留言版 Strat -->
            <div class="accordion accordion-flush border mb-3" id="accordionFlushExample">
                <div class="accordion-item">
                    <div class="accordion-header" id="flush-headingOne">

                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            留言板
                        </button>
                    </div>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                        data-bs-parent="#accordionFlushExample" s>
                        <div class="accordion-body">

                            <ul v-for="item in floors">
                                @*這裡開始v-for，以下的li為留言設計圖*@
                                <li class="mb-1">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item">
                                                <i class="fas fa-user"></i>&nbsp;{{item.nickName}}
                                            </li>
                                            <li class="breadcrumb-item me-auto">{{item.time}}</li>
                                            @* 編輯按鈕(需登入) *@
                                            <li>
                                                <template v-if="MemberID==item.memberID">
                                                    <i class="fas fa-edit" data-bs-toggle="tooltip"
                                                        data-bs-placement="top" title="編輯留言"
                                                        @@click="edit(item.floor)"></i>
                                                </template>
                                            </li>
                                        </ol>
                                    </nav>
                                </li>
                                <li>
                                    @* 編輯 template *@
                                    <template v-if="item.Edit==true">

                                        <textarea class="form-control mb-2" placeholder="編輯留言.."
                                            style="height: 100px;resize: none;" v-model="item.article"></textarea>

                                        <button type="button" class="btn btn-outline-primary" @@click="update(item)">
                                            修改
                                        </button>
                                        <button type="button" class="btn btn-outline-warning" @@click="cancel">
                                            取消
                                        </button>
                                        <button type="button" class="btn btn-danger" @@click="deletefloor(item.floor)">
                                            刪除
                                        </button>

                                    </template>

                                    @* 讀取 template *@
                                    <template v-else>
                                        <p>{{item.article}}</p>
                                        <hr />
                                    </template>
                                </li>
                            </ul>

                            <!-- 新增留言區 -->
                            <form action="">
                                <div class="input-group">
                                    <span class="input-group-text"> <i class="fas fa-user"></i>&nbsp;{{nickName}}</span>
                                    <input type="text" class="form-control" placeholder="留言.." v-model="article"
                                        required />
                                    <button type="button" class="btn btn-primary" @@click="insert">送出</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- 留言版 End -->
            </div>
        </div>
        <!-- Tags End -->

    </div>
</div>
<!-- 最新消息文章內頁 End -->
@section Scripts
    {
    <script src="~/js/blogpage.js"></script>
}